* {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

:root {
    --head-icon-height: 40px;
    --normal-icon-height: 25px;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Italic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Light.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-LightItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-MediumItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-SemiBoldItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-ExtraLightItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-BoldItalic.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./Font/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('./Font/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
    font-family: 'Plus Jakarta Sans';
}

/* Sidebar designing! ------------ */
.sidebar {
    --sidebar-bg: #415a77;
    --sidebar-content: #ffffff;
    --sidebar-title-size: 22px;

    padding: 10px 20px;
    background-color: var(--sidebar-bg);
    grid-column: 1 / 2;
}

.sidebar .dashboard {
    display: grid;
    gap: 10px;
    grid-template-columns: var(--head-icon-height) 1fr;
    align-items: center;
}

.sidebar .dashboard img {
    height: var(--head-icon-height);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.2);
}

.sidebar .dashboard h2 {
    color: var(--sidebar-content);
    font-size: var(--sidebar-title-size);
}

.sidebar .navigation ul {
    display: grid;
    gap: 10px;
    padding: 40px 0px;
}

.sidebar .navigation li {
    list-style-type: none;
}

.sidebar .navigation a {
    text-decoration: none;
    color: var(--sidebar-content);

    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar .navigation img {
    height: var(--normal-icon-height);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.1);
}

/* Main content designing ------------ */
.main_content {
    --search-bar-width: 700px;
    --search-bar-height: 25px;

    --user-icon-height: 50px;
    --user-max-icon-height: 60px;

    --btn-height: 20px;
    --btn-bg: rgb(0 95 115 / 0.7);

    --main-grid-bg: #C0C0C0;
    --article-bg: #ffffff;
    --article-left-band: #7FD1B9;

    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 0;
}

.main_content .header {
    position: relative;
    z-index: 10;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.7);
}

.main_content .top_header {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.main_content .search {
    display: flex;
    gap: 40px;
    align-items: center;
}

.main_content .search img {
    height: var(--normal-icon-height);
}

.main_content .top_header label {
    display: grid;
    align-items: center;
}

.main_content .top_header input {
    width: var(--search-bar-width);
    height: var(--search-bar-height);

    padding: 0px 10px;
    border-radius: 30px;
    border: 0.5px solid rgb(128 128 128 / 0.3);
    background-color: rgb(128 128 128 / 0.3);
}

.main_content .user_image {
    height: var(--user-icon-height);
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 0.5);
}

.main_content .top_left_header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main_content h4 {
    font-size: 16px;
    font-weight: bold;
}

.main_content .introduction {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main_content .bottom_header {
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}

.main_content .bottom_header img {
    height: var(--user-max-icon-height);
    border-radius: 50%;
}

.main_content .bottom_header_actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.main_content .bottom_header .action_btn {
    padding: 10px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid darkblue;
    border-radius: 50px;
    background-color: var(--btn-bg);
    color: #ffffff;
}

/* Designing Articles ------------ */
.main_grid {
    display: grid;
    background-color: var(--main-grid-bg);
    grid-template-columns: auto clamp(250px, 250px, 300px);
    gap: 10px;
    padding: 10px 20px;
}

.main_grid .article_section {
    grid-row: 1 / 2;
}

.main_grid .article_container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 10px 10px 0px 0px;
}

.main_grid .article {
    background-color: var(--article-bg);
    padding: 5px 10px;

    border-left: 6px solid var(--article-left-band);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main_grid .interactive_button_container {

    display: grid;
    grid-template-columns: repeat(3, 30px);
    gap: 10px;
    justify-content: end;

    --interactive-btn-fav-hover-bg: #ffc300;
    --interactive-btn-paw-hover-bg: #99582a;
    --interactive-btn-hrt-hover-bg: #e63946;
}


.main_grid .interactive_btn {
    border: none;
    background-color: #ffffff;
}

.main_grid .interactive_btn img {
    height: 20px;
    border-radius: 50%;
    padding: 5px;
}

.main_grid .interactive_btn img:hover {
    transform: scale(0.8);
    transition: transform 0.1s;
}

.main_grid .interactive_btn img[alt='Favorite']:hover {
    background-color: var(--interactive-btn-fav-hover-bg);
}

.main_grid .interactive_btn img[alt='Paw']:hover {
    background-color: var(--interactive-btn-paw-hover-bg);
}

.main_grid .interactive_btn img[alt='Like']:hover {
    background-color: var(--interactive-btn-hrt-hover-bg);
}


/* Designing Announcements & Trending Section!*/
.right_sidebar {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}

.right_sidebar .announcement_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right_sidebar .announcement_container {
    display: grid;
    grid-template-rows: repeat(auto);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-left: 6px solid var(--article-left-band);
}

.right_sidebar .announcement_container small {
    font-size: 10px;
    font-weight: bold;
}

.right_sidebar .announcement_container hr {
    margin: 5px 0px;
}

.right_sidebar .trending_container img {
    height: 40px;
    border-radius: 50%;
}

.right_sidebar .trending_container {

    margin-top: 5px;
    display: grid;
    gap: 5px;

    border-left: 6px solid var(--article-left-band);
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.right_sidebar .trending_container h4 {
    font-size: 14px;
}

.right_sidebar .trending_container a {
    display: flex;
    gap: 10px;

    text-decoration: none;
    color: #000000;
}